.products__wrapper {
  margin: 7rem 0;
  .products__container {
    .categories__wrapper {
      margin: 2.4rem 0;
      .categories {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        // overflow-x: auto;
        .clear__button {
          color: #f04438;
          padding: 0.8rem 2.5rem;
          border-radius: 0.8rem;
          font-size: 1.6rem;
          cursor: pointer;
          outline: none;
          border: 1px solid var( --transparent-border);
          background: transparent;
        }
      }
    }
    .product__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      @media screen and (max-width:1180px) {
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        
      }
    }
    .list__items{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .product__notfound{
      font-size: 2.4rem;
      text-align: center;
      margin-top: 18rem;  
    }
  }
}
