.category__btn {
  padding: 0.8rem 2.5rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--btn-text-color);
  font-weight: 400;
  background: var(--btn-bg-color);
  &:hover{
    background: var(--btn-bg-hover-color);
  }
  &.active{
    background: var(--btn-bg-hover-color);
  }
}
