.product__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    h3 {
      font-size: 2.4rem;
    }
    .right__heading__section {
      display: flex;
      gap: 1rem;
      align-items: center;
      .toggle__list__grid__view{
        display: flex;
        gap: 1rem;
        button{
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            cursor: pointer;
            color: var(--text-color);
            background: var(--theme-swith-btn-bg-color);

            svg{
                height: 2rem;
                width: 2rem;
            }
            &.active{
                background: var(--btn-bg-hover-color);
                color: #fff;
            }
        }
      }
      .search__input__wrapper {
      }
      .filter__icon {
        position: relative;
        .filter {
          display: flex;
          cursor: pointer;
          svg {
            height: 2rem;
            width: 2rem;
          }
        }
        .filter__action__wrapper {
          position: absolute;
          width: 20rem;
          background: var(--dropdown-bg-color);
          border: 1px solid var(--transparent-border);
          border-radius: 0.8rem;
          padding: 2rem;
          right: 0;
          top: 3rem;
          z-index: 10;
          .filter__actions {
            display: flex;
            flex-direction: column;
            p {
              padding-bottom: 1rem;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              cursor: pointer;
              border-bottom: 1px solid var(--divider-color);
              &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }