.card {
  background: var(--card-bg-color);
  padding: 1.5rem;
  display: flex;
  cursor: pointer;
  gap: 2rem;
  border:1px solid var(--transparent-border);
  transition: all 0.5s;
  flex-direction: column;

  &:hover {
    transform: scale(1.03);
    .card__content {
      .name {
        color: var(--colorful-text);
      }
    }
  }

  .card__image {
    height: 25rem;
    @media screen and (max-width: 500px) {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .card__content {
    .name {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
    .category{
        font-size: 1.4rem;
        margin: 1rem 0;
        // color: var(--colorful-text);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .ratings{
          display: flex;
          align-items: center;
          gap: 0.5rem;
          .star{
            display: flex;
            span{
              // color: var(--colorful-text);
              color: #ffc97a;
            }

            svg{
              height: 1.6rem;
              width: 1.6rem;
              fill: #ffc97a;
              color: #ffc97a;

            }
          }
          .total__count{
            span{
              color: var(--colorful-text);

            }
          }

        }
        
    }
    .description {
      display: block;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--text-color);
      margin-top: 1rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid var(--divider-color);
      transition: none;
    }
    .card__footer {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: var(--colorful-text);
      }
    }
  }
}
