.header__wrapper{
    padding: 2rem 0;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            color: var(--label-text-clr);
        }
    }
    button{
        all: unset;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: var(--theme-swith-btn-bg-color);
        svg{
            height: 1.6rem;
            width: 1.6rem;
        }
    }

}